# .dockerignore
# ========================================
# Docker build contextから除外するもの
# ビルド時に不要 && 重たそうなものを除外する
# ========================================

# git履歴
.git

# editor
.vscode

# latex作成環境
src

# 設定フォルダ(文書テンプレートフォルダ)
config