# .dockerignore
# ========================================
# Docker build contextから除外するもの
# ========================================

# git関連
.git
.gitignore

# Local data
.env

# Editor
.vscode

# docker設定など
Dockerfile
compose.yaml
compose.*.yaml


# その他補助ファイル
Makefile